body {
  background-color: #EFEFEF;
}
.content-main {
  margin: 10vh 0;
}
.navbar-center {
  margin-left: 40vw !important;
}

/* --------------------------------- */
/* --------------------------------- */
/*            NOCONTENT              */
/* --------------------------------- */
/* --------------------------------- */
.no-content-title {
  color: #999999;
}